/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}
nav{
    background: #db4a4a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    transition: all 0.4s ease;
}
nav.sticky{
    padding: 15px 20px;
    background: #db4a4a;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
nav .nav-content{
    height: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo a{
    font-weight: 500;
    font-size: 35px;
    color: #fdfdfd;
}
nav.sticky .logo a{
    color: rgb(253, 251, 251);
}
.nav-content .nav-links{
   display: flex;
}
.nav-content .nav-links li{
    list-style: none;
    margin: 0 8px;
}
.nav-links li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 4px;
    transition: all 0.3s ease;
}
.nav-links li a:hover{
     color: #000000;
}
nav.sticky .nav-links li a{
     color: #fff;
     transition: all 0.4s ease;
}
nav.sticky .nav-links li a:hover{
    color: #0E2431;
}
.home{
    height: 85vh;
    width: 100%;
    background-image:url('blood.jpg');
    background-position: center;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
h3{
    font-size: 30px;
    margin-bottom: 6px;
    color: #f44040;
}
.text{
    text-align: justify;
    padding: 40px 80px;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
}
h4{
    text-align: center;
    font-size: 30px;
    margin-bottom: 6px;
    color: #f44040;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.column {
  padding: 1em;
}
.card {
  padding: 3.1em 1.25em;
  text-align: center;
  background: linear-gradient(0deg, #ee4e4e 10px, transparent 10px);
  background-repeat: no-repeat;
  background-position: 0 0.62em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.15);
  border-radius: 0.5em;
  transition: 0.5s;
  cursor: pointer;
}
.card .icon {
  font-size: 2.5em;
  height: 2em;
  width: 2em;
  margin: auto;
  background-color: #f44040;
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: #ffffff;
}
.icon:before {
  position: absolute;
  content: "";
  height: 1.5em;
  width: 1.5em;
  border: 0.12em solid #f44040;
  border-radius: 50%;
  transition: 0.5s;
}
.card h3 {
  font-size: 1.3em;
  margin: 1em 0 1.4em 0;
  font-weight: 600;
  letter-spacing: 0.3px;
  color:#f44040;
}
.card p {
  line-height: 2em;
  color: #f44040;
}
.card:hover {
  background-position: 0;
}
.card:hover .icon:before {
  height: 2.25em;
  width: 2.25em;
}
@media screen and (min-width: 768px) {
  section {
    padding: 1em 7em;
  }
}
@media screen and (min-width: 992px) {
  section {
    padding: 1em;
  }
  .card {
    padding: 5em 2em;
  }
  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 1em;
  }
}

